@import url('https://fonts.googleapis.com/css?family=Outfit');

$primary_white:hsl(0, 0%, 100%);
$primary_LightGray:hsl(212, 45%, 89%);
$primary_GrayishBlue:hsl(220, 15%, 55%);
$primary_DarkBlue:hsl(218, 44%, 22%);

$text_inset_margin:18px;

$fontweight_thin:400;
$fontweight_thick:700;

$cornerradius:12px;